body {
  font-family: "Inter", sans-serif !important;
  font-weight: bold !important;
}

/* استایل کلی هدر */
header {
  width: 90%;
  background-color: #fff;
  padding: 10px 60px;
  margin: 0 auto;
}

/* تنظیمات ناوبری */
.navbar {
  direction: ltr;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
}

.logo {
  margin-left: -43px;
  margin-top: 25px;
}

/* لوگو */
.logo img {
  height: 55px;
}

/* لینک‌های منو */
.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #1600ab; /* آبی نکس‌بوک */
}

/* دکمه حساب کاربری */
.user-account a {
  background-color: #1600ab;
  color: #fff !important;
  padding: 8px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 15px;
  transition: background-color 0.3s ease;
}

.user-account a:hover {
  background-color: #1600ab;
}

/* ==== همبرگر ==== */
.hamburger {
  display: none; /* فقط در موبایل نمایش داده می‌شود */
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  cursor: pointer;
}

.hamburger span {
  display: block;
  height: 1px;
  background-color: #333;
  border-radius: 2px;
  transition: all 0.3s ease;
}

/* دکمه بستن */
.close-menu {
  display: none;
  font-size: 18px;
  color: #1600ab;
  cursor: pointer;
  text-align: start;
  padding-left: 10px;
  margin-bottom: 30px;
}
/*هیرو*/
.hero {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.slider-container {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: #d9d9d9;
  border-radius: 40px;
  overflow: hidden;
  max-width: 1300px;
}

.slider-container img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slider-container img.active {
  opacity: 1;
}

/* دکمه اسکرول */
.scroll-down {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.scroll-down img {
  width: 70px;
  height: auto;
}

.scroll-down:hover {
  transform: translateX(-50%) translateY(5px);
  transition: transform 0.3s ease;
}

/* بخش دوم و سوم و چهارم */
/* ==== ساختار اصلی ==== */
section {
  width: 90%;
  max-width: 1200px;
  margin: 60px auto;
}

/* ==== هدر هر بخش ==== */
.latest-header,
.best-header,
.audio-books-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 25px;
  gap: 10px;
}

.latest-header h2,
.best-header h2,
.audio-books-header h2 {
  font-size: 30px;
  font-weight: 600;
  color: #333;
}

.best-header h2,
.audio-books-header h2 {
  color: #1600ab;
}

.slicebook {
  margin-left: 10px;
}

.slicebook a {
  text-decoration: none;
  background-color: #1600ab;
  color: #fff;
  padding: 6px 14px;
  border-radius: 10px;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.slicebook a:hover {
  background-color: #10008a;
}

/* ==== ردیف افقی ==== */
.scroll-drag {
  display: flex;
  gap: 90px;
  overflow-x: auto;
  overflow-y: hidden; /* این خط لازم است */
  scroll-behavior: smooth;
  padding-bottom: 10px;
  cursor: grab;
  list-style: none;
  padding-right: 0;
  margin: 0;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  user-select: none;
  scroll-behavior: smooth;
}

.scroll-drag::-webkit-scrollbar {
  display: none;
}

.scroll-drag:active {
  cursor: grabbing;
}

/* جلوگیری از انتخاب متن یا عکس‌ها */
.scroll-drag,
.scroll-drag * {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* ==== کارت کتاب ==== */
.latest-book,
.best-book {
  flex: 0 0 auto;
  width: 200px;
  text-align: center;
  transition: transform 0.3s ease;
  scroll-snap-align: start;
}

.latest-book a,
.best-book a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.latest-book img,
.best-book img {
  width: 110%;
  height: 290px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.latest-book:hover img,
.best-book:hover img {
  transform: translateY(-6px);
}

.book-name {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  color: #333;
}

.book-category {
  font-size: 14px;
  color: #999;
  margin-top: 4px;
}

/* بخش کتاب صوتی */
.audio-books {
  margin-top: 3rem;
  text-align: center;
}

.audio-books-list {
  list-style: none;
  display: flex;
  gap: 150px; /* فاصله بین کارت‌ها */
  padding: 0;
  flex-wrap: nowrap; /* همیشه یک ردیف، حتی در عرض بزرگ */
  overflow-x: auto; /* فعال کردن اسکرول افقی */
  overflow-y: hidden;
  scroll-behavior: smooth;
  cursor: grab;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  justify-content: flex-start; /* مهم: کارت‌ها از ابتدا شروع شوند */
}

.audio-book {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.audio-book-box {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 25px;
  overflow: hidden;
  background: #ddd;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.audio-book-box img:first-child {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  background: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

.play-btn:hover {
  background: none;
}

.play-btn img {
  width: 22px;
  height: 22px;
  filter: brightness(10);
}

.audio-book-category {
  color: #999;
  font-size: 0.9rem;
}

.scroll-drag,
.scroll-drag * {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.scroll-drag img {
  pointer-events: none; /* جلوگیری از تداخل درگ عکس */
}

footer {
  padding: 3rem 2rem 1rem;
  direction: ltr;
  color: #333;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  border-top: 2px solid #1600ab;
  padding-top: 40px;
}

.footer-logo {
  flex: 1 1 250px;
}

.footer-logo img {
  width: 16vw;
  margin-bottom: 1rem;
}

.footer-logo p {
  color: #666;
  font-size: 0.95rem;
  line-height: 1.8;
  direction: rtl;
}

.footer-links {
  flex: 1 1 200px;
  text-align: end;
}

.footer-links h3,
.footer-social h3 {
  color: #1600ab;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 0.6rem;
}

.footer-links a {
  text-decoration: none;
  color: #444;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #1600ab;
}

/* شبکه‌های اجتماعی */
.footer-social {
  flex: 1 1 200px;
  text-align: end;
}

.social-icons {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.social-icons a {
  color: #1600ab;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons a:hover {
  color: #333;
  transform: scale(1.15);
}

/* بخش پایین فوتر */
.footer-bottom {
  border-top: 1px solid #ddd;
  margin-top: 2rem;
  padding-top: 1rem;
  text-align: center;
  color: #777;
  font-size: 0.9rem;
  direction: rtl;
}

@media (max-width: 360px) {
  body {
    font-size: 14px; /* فونت کمی کوچکتر */
  }

  /* حالت پیشفرض منو بسته است */
  .nav-links {
    position: fixed;
    top: 0;
    right: -100%; /* خارج از صفحه */
    height: 100%;
    background-color: #fff;
    flex-direction: column;
    padding-top: 100px;
    padding-left: 20px;
    transition: right 0.3s ease;
    z-index: 100;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    text-align: end;
    width: auto;
    gap: 35px;
  }

  /* وقتی باز شد */
  .nav-links.active {
    right: -12px; /* داخل صفحه */
  }

  .nav-links li a {
    font-size: 18px;
  }

  .hamburger {
    display: flex;
  }

  .hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  .close-menu {
    display: block;
    margin-top: -72px;
    margin-left: 50px;
  }

  /* تغییر همبرگر به ضربدر */
  .hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  header {
    width: 95%;
    padding: 8px 20px;
  }

  .logo {
    margin-left: 0;
    margin-top: 10px;
  }

  .logo img {
    height: 40px;
  }

  .user-account a {
    padding: 6px 12px;
    font-size: 13px;
  }

  .hero {
    margin-top: 20px;
  }

  .slider-container {
    height: 200px; /* ارتفاع اسلایدر کوچکتر */
    border-radius: 20px;
  }

  .scroll-down {
    width: 35px;
    height: 35px;
  }

  .scroll-down img {
    width: 50px;
  }

  section {
    width: 95%;
    margin: 40px auto;
  }

  .latest-header h2,
  .best-header h2,
  .audio-books-header h2 {
    font-size: 20px;
  }

  .slicebook a {
    padding: 4px 10px;
    font-size: 12px;
  }

  .scroll-drag {
    gap: 20px;
  }

  .latest-book,
  .best-book {
    width: 140px;
  }

  .latest-book img,
  .best-book img {
    height: 200px;
  }

  .book-name {
    font-size: 14px;
  }

  .book-category {
    font-size: 12px;
  }

  .audio-book-box {
    width: 180px;
    height: 180px;
    border-radius: 15px;
  }

  .play-btn img {
    width: 18px;
    height: 18px;
  }

  .audio-books-list {
    gap: 30px;
  }

  footer .footer-container {
    flex-direction: column;
    gap: 0;
    text-align: center;
  }

  .footer-logo {
    margin-bottom: -109px;
  }

  .footer-logo img {
    width: 40%;
  }

  .footer-links,
  .footer-social {
    text-align: center;
  }

  .footer-links {
    display: none;
  }

  .footer-social {
    margin-bottom: -109px;
  }

  .social-icons {
    justify-content: center;
  }
}
